---
const { name, color = "#000" } = Astro.props;
const icons = await Astro.glob("./icons/*.astro");

const IconComponent = icons.find((icon) => icon.default.name === name);
---

{
  IconComponent ? (
    <IconComponent.default data-icon={name} style={`--fill: ${color}`} />
  ) : (
    <p>'{name}' ikke fundet!</p>
  )
}

<style>
  [data-icon] {
    fill: var(--fill);
  }
</style>
