---
import "../styles/styles.css";
import "../styles/tokens.css";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="tokens.css" />
    <title>Astro</title>
  </head>
  <body>
    <Header />

    <main>
      <Nav />

      <section>
        <h2>Fokus</h2>
        <section class="cards">
          <Card header="Peaceful piano" text="lorem ipsum">
            <img src="/spotify_images/peaceful_piano.jpeg" alt="cover" />
          </Card>
          <Card header="Deep focus" text="lorem ipsum">
            <img src="/spotify_images/deep_focus.jpeg" alt="cover" />
          </Card>
          <Card header="Peaceful piano" text="lorem ipsum">
            <img src="/spotify_images/instrumental_study.jpeg" alt="cover" />
          </Card>
          <Card header="Focus flow" text="lorem ipsum">
            <img src="/spotify_images/focus_flow.jpeg" alt="cover" />
          </Card>
          <Card header="Workday Lounge" text="lorem ipsum">
            <img src="/spotify_images/reading_adventure.jpeg" alt="cover" />
          </Card>
        </section>
      </section>
    </main>
<Footer/>
  </body>
</html>
