---
// const header = Astro.props.header;
// const text = Astro.props.text;

const { header, text, btn, img } = Astro.props; //blot en anden måde at skrive ovenstående på
---

<article class="card-border">
  <slot/>
  <h3>{header}</h3>
  <p>{text}</p>
</article>

<style>

</style>
