---
// const header = Astro.props.header;
// const text = Astro.props.text;

const { header, text, btn, img } = Astro.props; //blot en anden måde at skrive ovenstående på, gør at du kan udskifte tekst og stadig beholde komponentens skabelon.
---

<article class="card-border">
  <slot/>
  <h3>{header}</h3>
  <p>{text}</p>
</article>

<!-- <style> 
style scope er en måde at style card.astro på isoleret, uden at gøre det i et stort stylesheet.
</style> -->
