<footer>
  <div>
    <h4>Eksempel på spotify</h4>
    <p>Tilmeld dig og få ubegrænsede podcasts og sange med lejlighedsvise reklamer. Du skal ikke bruge kreditkort</p>
  </div>
  <button class="footer_btn">Tilmeld dig gratis</button>
</footer>

<style>
  footer {
  background-color: var(--brand-gradient);
  display: flex;
  justify-content: space-between;
}

.footer_btn {
  border-radius: var(--border-radius-round);
  padding-inline: var(--space-lg);
}

</style>