---
---

<nav>
  <div>
    <slot />
  </div>
  <div>
    <slot />
    <h2>Hjem</h2>
  </div>

  <div>
    <slot />
    <h2>Søg</h2>
  </div>

  <div>
    <slot />
    <h2>Dit bibliotek</h2>
  </div>

  <div>
    <slot />
    <h2>Opret playliste</h2>
  </div>

  <div>
    <slot />
    <h2>Sange, du synes godt om</h2>
  </div>
</nav>
